<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>LiveWalls</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp4</string>
				<string>mov</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Video Files</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>LiveWalls</string>
	<key>CFBundleIdentifier</key>
	<string>com.livewalls.app</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>es</string>
		<string>fr</string>
		<string>de</string>
		<string>it</string>
		<string>ja</string>
		<string>ko</string>
		<string>pt-BR</string>
		<string>zh-CN</string>
		<string>zh-TW</string>
	</array>
	<key>CFBundleName</key>
	<string>LiveWalls</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.5.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>202509121811</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.graphics-design</string>
	<key>LSBackgroundOnly</key>
	<false/>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSRequiresIPhoneOS</key>
	<false/>
	<key>LSUIElement</key>
	<false/>
	<key>NSAccessibilityUsageDescription</key>
	<string>LiveWalls needs accessibility permission to set desktop wallpapers and manage video playback on your desktop.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2024 LiveWalls. All rights reserved.</string>
	<key>NSMainStoryboardFile</key>
	<string></string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>NSUserNotificationAlertStyle</key>
	<string>alert</string>
	<key>NSUserNotificationUsageDescription</key>
	<string>notification_usage_description</string>
	<key>SUAllowsAutomaticUpdates</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://fparrav.github.io/LiveWalls/sparkle/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>RFd/eCAr0nKZ2x5ZTKwuvw3H3wZgzcDLH0RFOrEIrBk=</string>
</dict>
</plist>
